#content-bar-header{
  position: relative;
  margin-top: 64px;
}

#bar-header{
  height: 66px;
  position: fixed;
  z-index: 1;
  width: 100%;
  background: #fafafa;
  border-bottom: 1px solid lightgrey
}

#btn-favorite{
  margin-top: 20px
}

.menu-size-grid{
  margin-top: 10px;
}
